In [ ]:
from sqlalchemy import *
import credentials
andrewid = credentials.DB_USER
db = credentials.DB_USER
password = credentials.DB_PASSWORD
db_url = "postgresql://" + andrewid + ":" + password + "@debprodserver.postgres.database.azure.com:5432/" + db
engine = create_engine(db_url)

In [2]:
%load_ext sql
%sql engine

### Creating tables

In [3]:
%%sql
DROP TABLE IF EXISTS locations CASCADE;
CREATE TABLE locations (
    zipcode CHAR(5) PRIMARY KEY,
    state TEXT NOT NULL,
    city TEXT NOT NULL
);

Running query in 'postgresql://njayapra:***@debprodserver.postgres.database.azure.com:5432/njayapra'

++
||
++
++

In [4]:
%%sql
DROP TABLE IF EXISTS hospital CASCADE;
CREATE TABLE hospital (
    hospital_pk TEXT PRIMARY KEY,
    hospital_name TEXT NOT NULL,
    address TEXT, 
    longitude FLOAT8,
    latitude FLOAT8,
    fips_code CHAR(5),
    zipcode CHAR(5) NOT NULL REFERENCES locations(zipcode)
);

Running query in 'postgresql://njayapra:***@debprodserver.postgres.database.azure.com:5432/njayapra'

++
||
++
++

In [5]:
%%sql
DROP TABLE IF EXISTS weekly_logs CASCADE;
CREATE TABLE weekly_logs (
    id SERIAL PRIMARY KEY,
    collection_week DATE NOT NULL,
    adult_beds_available_avg FLOAT8 CHECK (adult_beds_available_avg >=0),
    pediatric_beds_available_avg FLOAT8 CHECK (pediatric_beds_available_avg >=0),
    adult_beds_occupied_avg FLOAT8 CHECK (adult_beds_occupied_avg >=0),
    pediatric_beds_occupied_avg FLOAT8 CHECK (pediatric_beds_occupied_avg >=0),
    icu_beds_available_avg FLOAT8 CHECK (icu_beds_available_avg >=0),
    icu_beds_occupied_avg FLOAT8 CHECK (icu_beds_occupied_avg >=0),
    confirmed_covid_hospitalized_avg FLOAT8 CHECK (confirmed_covid_hospitalized_avg >=0),
    confirmed_covid_icu_avg FLOAT8 CHECK (confirmed_covid_icu_avg >=0),
    hospital_pk TEXT NOT NULL REFERENCES hospital(hospital_pk),
    CHECK(adult_beds_occupied_avg <= adult_beds_available_avg),
    CHECK(pediatric_beds_occupied_avg <= pediatric_beds_available_avg),
    CHECK(icu_beds_occupied_avg <= icu_beds_available_avg),
    CHECK(confirmed_covid_icu_avg <= confirmed_covid_hospitalized_avg)
);

Running query in 'postgresql://njayapra:***@debprodserver.postgres.database.azure.com:5432/njayapra'

++
||
++
++

In [6]:
%%sql
DROP TABLE IF EXISTS hospital_quality CASCADE;
DROP TYPE IF EXISTS quality CASCADE;

CREATE TYPE quality AS ENUM ('1', '2', '3', '4', '5', 'Not Available');

CREATE TABLE hospital_quality (
    id SERIAL PRIMARY KEY,
    quality_rating quality NOT NULL,
    date_updated DATE NOT NULL,
    type_of_hospital TEXT,
    type_of_ownership TEXT,
    emergency_services BOOLEAN,
    hospital_pk TEXT NOT NULL REFERENCES hospital(hospital_pk)
);

Running query in 'postgresql://njayapra:***@debprodserver.postgres.database.azure.com:5432/njayapra'

++
||
++
++

In [7]:
%%sql
SELECT * FROM locations LIMIT 10;

Running query in 'postgresql://njayapra:***@debprodserver.postgres.database.azure.com:5432/njayapra'

+---------+-------+------+
| zipcode | state | city |
+---------+-------+------+
+---------+-------+------+

In [8]:
%%sql
SELECT * FROM hospital LIMIT 10;

Running query in 'postgresql://njayapra:***@debprodserver.postgres.database.azure.com:5432/njayapra'

+-------------+---------------+---------+-----------+----------+-----------+---------+
| hospital_pk | hospital_name | address | longitude | latitude | fips_code | zipcode |
+-------------+---------------+---------+-----------+----------+-----------+---------+
+-------------+---------------+---------+-----------+----------+-----------+---------+

In [9]:
%%sql
SELECT * FROM weekly_logs LIMIT 10;

Running query in 'postgresql://njayapra:***@debprodserver.postgres.database.azure.com:5432/njayapra'

+----+-----------------+--------------------------+------------------------------+-------------------------+-----------------------------+------------------------+-----------------------+----------------------------------+-------------------------+-------------+
| id | collection_week | adult_beds_available_avg | pediatric_beds_available_avg | adult_beds_occupied_avg | pediatric_beds_occupied_avg | icu_beds_available_avg | icu_beds_occupied_avg | confirmed_covid_hospitalized_avg | confirmed_covid_icu_avg | hospital_pk |
+----+-----------------+--------------------------+------------------------------+-------------------------+-----------------------------+------------------------+-----------------------+----------------------------------+-------------------------+-------------+
+----+-----------------+--------------------------+------------------------------+-------------------------+-----------------------------+------------------------+-----------------------+----------------------------------+-------------------------+-------------+

In [10]:
%%sql 
SELECT COUNT(*) FROM weekly_logs

Running query in 'postgresql://njayapra:***@debprodserver.postgres.database.azure.com:5432/njayapra'

1 rows affected.

+-------+
| count |
+-------+
|   0   |
+-------+

In [ ]:
# import psycopg
# import pandas as pd

# conn = psycopg.connect(
#    host="debprodserver.postgres.database.azure.com",
#    dbname=credentials.DB_USER,
#    user=credentials.DB_USER,
#    password=credentials.DB_PASSWORD
#)

In [ ]:
# query = "SELECT * FROM locations LIMIT 10;"
# df = pd.read_sql_query(query, conn)
# print(df)
# conn.close()