In [2]:
from sqlalchemy import *

password = "nuuOItcGAE"
db_name = "qianruiw"
andrewid = "qianruiw"
server_name = "debprodserver.postgres.database.azure.com"
db_url = f"postgresql://" + andrewid + ":" + password + "@" + server_name + ":5432/" + db_name
engine = create_engine(db_url)

In [3]:
%load_ext sql
%sql engine

### Creating tables

In [11]:
%%sql
DROP TABLE IF EXISTS locations CASCADE;
CREATE TABLE locations (
    zipcode CHAR(5) PRIMARY KEY,
    state TEXT NOT NULL,
    city TEXT NOT NULL
);

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

++
||
++
++

In [12]:
%%sql
DROP TABLE IF EXISTS hospital CASCADE;
CREATE TABLE hospital (
    hospital_pk TEXT PRIMARY KEY,
    hospital_name TEXT NOT NULL,
    address TEXT, 
    longitude FLOAT8,
    latitude FLOAT8,
    fips_code CHAR(5),
    zipcode CHAR(5) NOT NULL REFERENCES locations(zipcode)
);

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

++
||
++
++

In [13]:
%%sql
DROP TABLE IF EXISTS weekly_logs CASCADE;
CREATE TABLE weekly_logs (
    id SERIAL PRIMARY KEY,
    collection_week DATE NOT NULL,
    adult_beds_available_avg FLOAT8 CHECK (adult_beds_available_avg >=0),
    pediatric_beds_available_avg FLOAT8 CHECK (pediatric_beds_available_avg >=0),
    adult_beds_occupied_avg FLOAT8 CHECK (adult_beds_occupied_avg >=0),
    pediatric_beds_occupied_avg FLOAT8 CHECK (pediatric_beds_occupied_avg >=0),
    icu_beds_available_avg FLOAT8 CHECK (icu_beds_available_avg >=0),
    icu_beds_occupied_avg FLOAT8 CHECK (icu_beds_occupied_avg >=0),
    confirmed_covid_hospitalized_avg FLOAT8 CHECK (confirmed_covid_hospitalized_avg >=0),
    confirmed_covid_icu_avg FLOAT8 CHECK (confirmed_covid_icu_avg >=0),
    hospital_pk TEXT NOT NULL REFERENCES hospital(hospital_pk),
    CHECK(adult_beds_occupied_avg <= adult_beds_available_avg),
    CHECK(pediatric_beds_occupied_avg <= pediatric_beds_available_avg),
    CHECK(icu_beds_occupied_avg <= icu_beds_available_avg),
    CHECK(confirmed_covid_icu_avg <= confirmed_covid_hospitalized_avg)
);

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

++
||
++
++

In [16]:
%%sql
DROP TABLE IF EXISTS hospital_quality CASCADE;
DROP TYPE IF EXISTS quality CASCADE;

CREATE TYPE quality AS ENUM ('1', '2', '3', '4', '5', 'Not Available');

CREATE TABLE hospital_quality (
    id SERIAL PRIMARY KEY,
    quality_rating quality NOT NULL,
    date_updated DATE NOT NULL,
    type_of_hospital TEXT,
    type_of_ownership TEXT,
    emergency_services BOOLEAN,
    hospital_pk TEXT NOT NULL REFERENCES hospital(hospital_pk)
);

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

++
||
++
++

In [4]:
%%sql
SELECT * FROM locations LIMIT 10;

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

10 rows affected.

+---------+-------+---------------+
| zipcode | state |      city     |
+---------+-------+---------------+
|  96799  |   AS  |   PAGO PAGO   |
|  71303  |   LA  |   Alexandria  |
|  36067  |   AL  |   PRATTVILLE  |
|  36507  |   AL  |  BAY MINETTE  |
|  36535  |   AL  |     FOLEY     |
|  36532  |   AL  |    FAIRHOPE   |
|  36027  |   AL  |    EUFAULA    |
|  35042  |   AL  |  CENTREVILLE  |
|  35121  |   AL  |    ONEONTA    |
|  36089  |   AL  | UNION SPRINGS |
+---------+-------+---------------+
Truncated to displaylimit of 10.

In [5]:
%%sql
SELECT * FROM hospital LIMIT 10;

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

10 rows affected.

+------------------------------------------------------------------+---------------------------------------+------------------------------+-----------+------------+-----------+---------+
|                           hospital_pk                            |             hospital_name             |           address            | longitude |  latitude  | fips_code | zipcode |
+------------------------------------------------------------------+---------------------------------------+------------------------------+-----------+------------+-----------+---------+
|                              640001                              |      LBJ TROPICAL MEDICAL CENTER      | FAGAALU VILLAGE, P O BOX LBJ |    None   |    None    |    None   |  96799  |
| 3b081d5ef1c552538e4af4aa593a857bb922a4f364a412e69f912f826ae12879 |       Surgery Center of Zachary       |             None             | 30.655648 | -91.145057 |    None   |  70791  |
| ee04edd185865c38c839812cb2eb5ae5d3f8922e3b629ee98c7d9424a37826c4 |     Alexandria Emergency Hospital     |      5900 Coliseum Blvd      | 31.295636 | -92.51048  |    None   |  71303  |
| aab2bb3ab769da90baf57242c96ec481afb5ec6a2337848975e2451909a544a5 |     Crescent City Surgical Centre     |             None             | 29.949725 | -90.123884 |    None   |  70118  |
|                              010108                              |      PRATTVILLE BAPTIST HOSPITAL      |      124 S MEMORIAL DR       |  32.46445 | -86.45092  |   01001   |  36067  |
|                              010129                              |        NORTH BALDWIN INFIRMARY        |       1815 HAND AVENUE       | 30.903337 | -87.783711 |   01003   |  36507  |
|                              010083                              | SOUTH BALDWIN REGIONAL MEDICAL CENTER |  1613 NORTH MCKENZIE STREET  | 30.425628 | -87.683191 |   01003   |  36535  |
|                              010100                              |            THOMAS HOSPITAL            |      750 MORPHY AVENUE       |  30.51999 |  -87.8895  |   01003   |  36532  |
|                              010069                              |         MEDICAL CENTER BARBOUR        |     820 W WASHINGTON ST      | 31.887979 | -85.156644 |   01005   |  36027  |
|                              010058                              |          BIBB MEDICAL CENTER          |       208 PIERSON AVE        |  32.95133 |  -87.1476  |   01007   |  35042  |
+------------------------------------------------------------------+---------------------------------------+------------------------------+-----------+------------+-----------+---------+
Truncated to displaylimit of 10.

In [6]:
%%sql
SELECT * FROM weekly_logs LIMIT 10;

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

10 rows affected.

+----+-----------------+--------------------------+------------------------------+-------------------------+-----------------------------+------------------------+-----------------------+----------------------------------+-------------------------+------------------------------------------------------------------+
| id | collection_week | adult_beds_available_avg | pediatric_beds_available_avg | adult_beds_occupied_avg | pediatric_beds_occupied_avg | icu_beds_available_avg | icu_beds_occupied_avg | confirmed_covid_hospitalized_avg | confirmed_covid_icu_avg |                           hospital_pk                            |
+----+-----------------+--------------------------+------------------------------+-------------------------+-----------------------------+------------------------+-----------------------+----------------------------------+-------------------------+------------------------------------------------------------------+
| 1  |    2022-09-23   |           None           |             28.0             |           59.0          |             10.0            |          7.0           |          5.4          |               0.0                |           0.0           |                              640001                              |
| 2  |    2022-09-23   |           None           |             0.0              |           0.0           |             0.0             |          0.0           |          0.0          |               0.0                |           0.0           | 3b081d5ef1c552538e4af4aa593a857bb922a4f364a412e69f912f826ae12879 |
| 3  |    2022-09-23   |           None           |             0.0              |           None          |             0.0             |          0.0           |          0.0          |               0.0                |           0.0           | ee04edd185865c38c839812cb2eb5ae5d3f8922e3b629ee98c7d9424a37826c4 |
| 4  |    2022-09-23   |           None           |             0.0              |           4.1           |             0.0             |          0.0           |          0.0          |               0.0                |           0.0           | aab2bb3ab769da90baf57242c96ec481afb5ec6a2337848975e2451909a544a5 |
| 5  |    2022-09-23   |          109.0           |             0.0              |           57.0          |             0.0             |          6.0           |          5.4          |               None               |           None          |                              010108                              |
| 6  |    2022-09-23   |           75.0           |             0.0              |           32.0          |             0.0             |          5.0           |          None         |               None               |           0.0           |                              010129                              |
| 7  |    2022-09-23   |          145.0           |             4.0              |           66.7          |             None            |          10.0          |          6.4          |               None               |           None          |                              010083                              |
| 8  |    2022-09-23   |          212.0           |             0.0              |          158.7          |             0.0             |          17.0          |          8.9          |               4.9                |           0.0           |                              010100                              |
| 9  |    2022-09-23   |           49.9           |             0.0              |           18.3          |             0.0             |          5.0           |          None         |               None               |           None          |                              010069                              |
| 10 |    2022-09-23   |           33.0           |             0.0              |           7.3           |             0.0             |          0.0           |          0.0          |               0.0                |           0.0           |                              010058                              |
+----+-----------------+--------------------------+------------------------------+-------------------------+-----------------------------+------------------------+-----------------------+----------------------------------+-------------------------+------------------------------------------------------------------+
Truncated to displaylimit of 10.

In [7]:
%%sql 
SELECT COUNT(*) FROM weekly_logs

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

1 rows affected.

+-------+
| count |
+-------+
|  9733 |
+-------+

In [ ]:
# import psycopg
# import pandas as pd

# conn = psycopg.connect(
#    host="debprodserver.postgres.database.azure.com",
#    dbname="qianruiw",
#    user="qianruiw",
#    password="nuuOItcGAE"
#)

In [ ]:
# query = "SELECT * FROM locations LIMIT 10;"
# df = pd.read_sql_query(query, conn)
# print(df)
# conn.close()