In [1]:
from sqlalchemy import *
import credentials

password = credentials.DB_PASSWORD
db_name = credentials.DB_NAME
andrewid = "qianruiw"
server_name = "debprodserver.postgres.database.azure.com"
db_url = f"postgresql://" + andrewid + ":" + password + "@" + server_name + ":5432/" + db_name
engine = create_engine(db_url)

In [2]:
%load_ext sql
%sql engine

After loading all csv files

- `locations`: 4869 rows

- `hospital`: 5770 rows

- `weekly_logs`: 24287 rows

- `hospital_quality`: 15949 rows

#### 1. A summary of how many hospital records were loaded in the week selected by the user, and how that compares to previous weeks.

In [3]:
%%sql
SELECT collection_week, COUNT(*)
FROM weekly_logs
GROUP BY collection_week
ORDER BY collection_week

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

5 rows affected.

+-----------------+-------+
| collection_week | count |
+-----------------+-------+
|    2022-09-23   |  4862 |
|    2022-09-30   |  4871 |
|    2022-10-07   |  4861 |
|    2022-10-14   |  4864 |
|    2022-10-21   |  4829 |
+-----------------+-------+

In [4]:
%%sql
--- By state:
SELECT
    l.state,
    wl.collection_week,
    COUNT(*) AS num_hospital_records
FROM weekly_logs wl
JOIN hospital h ON wl.hospital_pk = h.hospital_pk
JOIN locations l ON h.zipcode = l.zipcode
GROUP BY l.state, wl.collection_week
ORDER BY l.state, wl.collection_week DESC

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

270 rows affected.

+-------+-----------------+----------------------+
| state | collection_week | num_hospital_records |
+-------+-----------------+----------------------+
|   AK  |    2022-10-21   |          13          |
|   AK  |    2022-10-14   |          14          |
|   AK  |    2022-10-07   |          14          |
|   AK  |    2022-09-30   |          14          |
|   AK  |    2022-09-23   |          14          |
|   AL  |    2022-10-21   |          95          |
|   AL  |    2022-10-14   |          95          |
|   AL  |    2022-10-07   |          96          |
|   AL  |    2022-09-30   |          94          |
|   AL  |    2022-09-23   |          93          |
+-------+-----------------+----------------------+
Truncated to displaylimit of 10.

#### 2. A table summarizing the number of adult and pediatric beds available that week, the number used, and the number used by patients with COVID, compared to the 4 most recent weeks

In [5]:
%%sql
SELECT
    l.state,
    wl.collection_week,
    SUM(wl.adult_beds_available_avg) AS adult_beds_available,
    SUM(wl.adult_beds_occupied_avg) AS adult_beds_used,
    SUM(wl.pediatric_beds_available_avg) AS pediatric_beds_available,
    SUM(wl.pediatric_beds_occupied_avg) AS pediatric_beds_used,
    SUM(wl.confirmed_covid_hospitalized_avg) AS covid_beds_used
FROM weekly_logs wl
JOIN hospital h ON wl.hospital_pk = h.hospital_pk
JOIN locations l ON h.zipcode = l.zipcode
GROUP BY l.state, wl.collection_week
ORDER BY l.state, wl.collection_week DESC

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

270 rows affected.

+-------+-----------------+----------------------+-------------------+--------------------------+---------------------+--------------------+
| state | collection_week | adult_beds_available |  adult_beds_used  | pediatric_beds_available | pediatric_beds_used |  covid_beds_used   |
+-------+-----------------+----------------------+-------------------+--------------------------+---------------------+--------------------+
|   AK  |    2022-10-21   |  788.8000000000001   |       916.6       |           60.9           |         34.9        |        15.9        |
|   AK  |    2022-10-14   |  763.3000000000001   |       905.4       |           64.4           |         33.4        |        21.6        |
|   AK  |    2022-10-07   |        810.8         | 955.0000000000001 |           61.6           |         31.3        |        16.7        |
|   AK  |    2022-09-30   |        969.6         | 985.6000000000001 |           61.6           |         35.9        |        15.5        |
|   AK  |    2022-09-23   |        791.7         |       930.1       |           62.4           |         31.4        |        19.8        |
|   AL  |    2022-10-21   |       13435.4        |       8970.0      |          498.0           |        317.4        |       199.5        |
|   AL  |    2022-10-14   |  13358.500000000002  | 8784.799999999997 |          492.0           |        286.1        | 199.40000000000003 |
|   AL  |    2022-10-07   |  13647.799999999997  | 8942.500000000002 |          506.0           |        309.6        | 230.29999999999995 |
|   AL  |    2022-09-30   |  13060.300000000001  | 8448.699999999997 |          492.0           |  303.30000000000007 | 225.39999999999998 |
|   AL  |    2022-09-23   |  12883.600000000002  |       8342.4      |          492.0           |  310.70000000000005 | 261.09999999999997 |
+-------+-----------------+----------------------+-------------------+--------------------------+---------------------+--------------------+
Truncated to displaylimit of 10.

#### 3. A graph or table summarizing the fraction of beds in use by hospital quality rating, so we can compare high-quality and low-quality hospitals.

- Fraction: (adult_beds_occupied_avg + pediatric_beds_occupied_avg) / (adult_beds_available_avg + pediatric_beds_available_avg)
- (If you think the fractin is wrong, feel free to change)

In [6]:
%%sql
WITH latest_quality AS (
    SELECT DISTINCT ON (hospital_pk)
        hospital_pk,
        quality_rating,
        date_updated
    FROM hospital_quality
    ORDER BY hospital_pk, date_updated DESC
),
hospital_fraction AS (
    SELECT
        l.state,
        wl.hospital_pk,
        wl.collection_week,
        lq.quality_rating,
        lq.date_updated,
        (wl.adult_beds_occupied_avg + wl.pediatric_beds_occupied_avg)
        / NULLIF(wl.adult_beds_available_avg + wl.pediatric_beds_available_avg, 0) AS fraction_used
    FROM weekly_logs wl
    JOIN hospital h ON wl.hospital_pk = h.hospital_pk
    JOIN locations l ON h.zipcode = l.zipcode
    JOIN latest_quality lq ON wl.hospital_pk = lq.hospital_pk
)
SELECT
    state,
    quality_rating,
    AVG(fraction_used) AS avg_fraction_used,
    COUNT(*) AS num_hospitals
FROM hospital_fraction
GROUP BY state, quality_rating
ORDER BY state, quality_rating

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

283 rows affected.

+-------+----------------+---------------------+---------------+
| state | quality_rating |  avg_fraction_used  | num_hospitals |
+-------+----------------+---------------------+---------------+
|   AK  |       2        |         1.0         |       10      |
|   AK  |       3        |         None        |       10      |
|   AK  |       4        |  0.6798994974874373 |       9       |
|   AK  | Not Available  |  0.6007709612578288 |       35      |
|   AL  |       2        |  0.6306758213244336 |       96      |
|   AL  |       3        |  0.549674266789084  |      132      |
|   AL  |       4        | 0.46313654321499836 |       75      |
|   AL  |       5        | 0.41192537921223965 |       15      |
|   AL  | Not Available  |  0.3249306464137304 |      120      |
|   AR  |       1        |  0.5049543635908978 |       30      |
+-------+----------------+---------------------+---------------+
Truncated to displaylimit of 10.

#### 4. A plot of the total number of hospital beds used per week, over all time up to the selected week, split into all cases and COVID cases.

- (Feel free to change if I am wrong here)
- Here the selected week I use is the latest collection week of weekly_logs
- All beds used: adult_beds_occupied_avg + pediatric_beds_occupied_avg
- Covid beds used: confirmed_covid_hospitalized_avg

In [7]:
%%sql
SELECT
    l.state,
    wl.collection_week,
    SUM(wl.adult_beds_occupied_avg + wl.pediatric_beds_occupied_avg) AS all_beds_used,
    SUM(wl.confirmed_covid_hospitalized_avg) AS covid_beds_used
FROM weekly_logs wl
JOIN hospital h ON wl.hospital_pk = h.hospital_pk
JOIN locations l ON h.zipcode = l.zipcode
GROUP BY l.state, wl.collection_week
ORDER BY l.state, wl.collection_week;

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

270 rows affected.

+-------+-----------------+-------------------+--------------------+
| state | collection_week |   all_beds_used   |  covid_beds_used   |
+-------+-----------------+-------------------+--------------------+
|   AK  |    2022-09-23   | 606.8000000000001 |        19.8        |
|   AK  |    2022-09-30   |       850.5       |        15.5        |
|   AK  |    2022-10-07   |       677.0       |        16.7        |
|   AK  |    2022-10-14   | 584.8000000000001 |        21.6        |
|   AK  |    2022-10-21   | 610.3000000000001 |        15.9        |
|   AL  |    2022-09-23   |       7450.4      | 261.09999999999997 |
|   AL  |    2022-09-30   | 7709.899999999998 | 225.39999999999998 |
|   AL  |    2022-10-07   | 8114.700000000001 | 230.29999999999995 |
|   AL  |    2022-10-14   | 7843.199999999999 | 199.40000000000003 |
|   AL  |    2022-10-21   |       8159.8      |       199.5        |
+-------+-----------------+-------------------+--------------------+
Truncated to displaylimit of 10.

In [8]:
%%sql
SELECT
    wl.collection_week,
    SUM(wl.adult_beds_occupied_avg + wl.pediatric_beds_occupied_avg) AS all_beds_used,
    SUM(wl.confirmed_covid_hospitalized_avg) AS covid_beds_used
FROM weekly_logs wl
JOIN hospital h ON wl.hospital_pk = h.hospital_pk
JOIN locations l ON h.zipcode = l.zipcode
GROUP BY wl.collection_week
ORDER BY wl.collection_week

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

5 rows affected.

+-----------------+--------------------+--------------------+
| collection_week |   all_beds_used    |  covid_beds_used   |
+-----------------+--------------------+--------------------+
|    2022-09-23   | 406231.8999999993  | 24457.09999999995  |
|    2022-09-30   | 410900.2000000002  | 23292.199999999986 |
|    2022-10-07   | 411593.59999999974 |      22748.0       |
|    2022-10-14   | 414864.9999999991  | 22741.40000000001  |
|    2022-10-21   | 411880.4999999996  | 22800.600000000046 |
+-----------------+--------------------+--------------------+

#### 5. A map of average hospital quality by state

In [9]:
%%sql
WITH latest_quality AS (
    SELECT DISTINCT ON (hospital_pk)
        hospital_pk,
        quality_rating
    FROM hospital_quality
    ORDER BY hospital_pk, date_updated DESC
)
SELECT 
    l.state,
    AVG(
        CASE 
            WHEN lq.quality_rating = 'Not Available' THEN NULL
            ELSE CAST(CAST(lq.quality_rating AS TEXT) AS INTEGER)
        END
    ) AS avg_quality_rating,
    COUNT(*) FILTER (WHERE lq.quality_rating != 'Not Available') AS num_hospitals_rated,
    COUNT(*) AS total_hospitals
FROM hospital h
JOIN locations l ON l.zipcode = h.zipcode
JOIN latest_quality lq ON lq.hospital_pk = h.hospital_pk
GROUP BY l.state
ORDER BY avg_quality_rating DESC NULLS LAST

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

56 rows affected.

+-------+--------------------+---------------------+-----------------+
| state | avg_quality_rating | num_hospitals_rated | total_hospitals |
+-------+--------------------+---------------------+-----------------+
|   UT  | 4.1250000000000000 |          24         |        54       |
|   HI  | 4.0833333333333333 |          12         |        25       |
|   SD  | 3.9230769230769231 |          13         |        59       |
|   VT  | 3.9166666666666667 |          12         |        16       |
|   WI  | 3.9078947368421053 |          76         |       138       |
|   MN  | 3.8936170212765957 |          47         |       137       |
|   CO  | 3.8750000000000000 |          48         |        94       |
|   OH  | 3.7829457364341085 |         129         |       198       |
|   ID  | 3.7619047619047619 |          21         |        47       |
|   MT  | 3.7222222222222222 |          18         |        64       |
+-------+--------------------+---------------------+-----------------+
Truncated to displaylimit of 10.

#### 6. Time series of Covid cases by type of ownership

In [10]:
%%sql
--- By ownership:
WITH latest_quality AS (
    SELECT DISTINCT ON (hospital_pk)
        hospital_pk, 
        type_of_ownership
    FROM hospital_quality
    ORDER BY hospital_pk, date_updated DESC
)
SELECT
    wl.collection_week,
    lq.type_of_ownership,
    SUM(wl.confirmed_covid_hospitalized_avg) AS covid_cases
FROM weekly_logs wl
JOIN latest_quality lq ON wl.hospital_pk = lq.hospital_pk
GROUP BY wl.collection_week, lq.type_of_ownership
ORDER BY wl.collection_week, lq.type_of_ownership

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

45 rows affected.

+-----------------+---------------------------------------------+--------------------+
| collection_week |              type_of_ownership              |    covid_cases     |
+-----------------+---------------------------------------------+--------------------+
|    2022-09-23   |             Government - Federal            |        30.9        |
|    2022-09-23   | Government - Hospital District or Authority |       2130.7       |
|    2022-09-23   |              Government - Local             | 705.5000000000001  |
|    2022-09-23   |              Government - State             |       599.2        |
|    2022-09-23   |                  Physician                  | 55.800000000000004 |
|    2022-09-23   |                 Proprietary                 | 2199.4000000000005 |
|    2022-09-23   |        Voluntary non-profit - Church        | 1783.0999999999997 |
|    2022-09-23   |         Voluntary non-profit - Other        | 1803.8999999999992 |
|    2022-09-23   |        Voluntary non-profit - Private       | 14892.999999999995 |
|    2022-09-30   |             Government - Federal            | 21.200000000000003 |
+-----------------+---------------------------------------------+--------------------+
Truncated to displaylimit of 10.

In [11]:
%%sql
--- By state and ownership:
WITH latest_quality AS (
    SELECT DISTINCT ON (hospital_pk)
        hospital_pk, 
        type_of_ownership
    FROM hospital_quality
    ORDER BY hospital_pk, date_updated DESC
)
SELECT
    l.state,
    wl.collection_week,
    lq.type_of_ownership,
    SUM(wl.confirmed_covid_hospitalized_avg) AS covid_cases
FROM weekly_logs wl
JOIN latest_quality lq ON wl.hospital_pk = lq.hospital_pk
JOIN hospital h ON wl.hospital_pk = h.hospital_pk
JOIN locations l ON h.zipcode = l.zipcode
GROUP BY l.state, wl.collection_week, lq.type_of_ownership
ORDER BY l.state, wl.collection_week, lq.type_of_ownership

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

1573 rows affected.

+-------+-----------------+--------------------------------+-------------+
| state | collection_week |       type_of_ownership        | covid_cases |
+-------+-----------------+--------------------------------+-------------+
|   AK  |    2022-09-23   |       Government - Local       |     0.0     |
|   AK  |    2022-09-23   |          Proprietary           |     4.9     |
|   AK  |    2022-09-23   | Voluntary non-profit - Church  |     14.9    |
|   AK  |    2022-09-23   |  Voluntary non-profit - Other  |     None    |
|   AK  |    2022-09-23   | Voluntary non-profit - Private |     None    |
|   AK  |    2022-09-30   |       Government - Local       |     0.0     |
|   AK  |    2022-09-30   |          Proprietary           |     6.6     |
|   AK  |    2022-09-30   | Voluntary non-profit - Church  |     8.9     |
|   AK  |    2022-09-30   |  Voluntary non-profit - Other  |     None    |
|   AK  |    2022-09-30   | Voluntary non-profit - Private |     None    |
+-------+-----------------+--------------------------------+-------------+
Truncated to displaylimit of 10.

#### 7. Number of beds in use by adult/pediatric/ICU and emergency services

In [12]:
%%sql
WITH latest_quality AS (
    SELECT DISTINCT ON (hospital_pk)
        hospital_pk,
        emergency_services
    FROM hospital_quality
    ORDER BY hospital_pk, date_updated DESC
)
SELECT 
    l.state,
    lq.emergency_services,
    SUM(wl.adult_beds_occupied_avg) AS adult_beds_in_use,
    SUM(wl.pediatric_beds_occupied_avg) AS pediatric_beds_in_use,
    SUM(wl.icu_beds_occupied_avg) AS icu_beds_in_use,
    SUM(wl.confirmed_covid_hospitalized_avg) As covid_beds_in_use
FROM weekly_logs wl
JOIN latest_quality lq ON wl.hospital_pk = lq.hospital_pk
JOIN hospital h ON wl.hospital_pk = h.hospital_pk
JOIN locations l ON h.zipcode = l.zipcode
GROUP BY l.state, lq.emergency_services
ORDER BY l.state, lq.emergency_services DESC;

Running query in 'postgresql://qianruiw:***@debprodserver.postgres.database.azure.com:5432/qianruiw'

97 rows affected.

+-------+--------------------+--------------------+-----------------------+--------------------+--------------------+
| state | emergency_services | adult_beds_in_use  | pediatric_beds_in_use |  icu_beds_in_use   | covid_beds_in_use  |
+-------+--------------------+--------------------+-----------------------+--------------------+--------------------+
|   AK  |        True        |       4500.8       |         166.9         | 1012.5000000000002 | 89.50000000000001  |
|   AL  |        True        | 42724.50000000003  |   1527.0999999999992  | 7748.499999999997  |       1115.7       |
|   AL  |       False        |        66.2        |          0.0          |        4.4         |        0.0         |
|   AR  |        True        | 21408.59999999999  |   1501.3999999999999  | 3926.3000000000006 | 874.1999999999997  |
|   AS  |        True        |       278.8        |          54.9         |        9.7         |        0.0         |
|   AZ  |        True        | 30245.899999999998 |   876.0999999999999   | 4299.400000000004  | 1078.2000000000003 |
|   AZ  |       False        | 5906.9000000000015 |         1676.5        | 913.6000000000001  |       281.2        |
|   CA  |        True        | 168540.70000000013 |   6180.500000000002   | 25745.599999999984 | 7796.099999999994  |
|   CA  |       False        | 23245.70000000001  |   5687.700000000003   | 5382.799999999997  | 732.9999999999997  |
|   CO  |        True        | 28960.80000000001  |   2151.6000000000004  | 4640.600000000004  | 818.0999999999999  |
+-------+--------------------+--------------------+-----------------------+--------------------+--------------------+
Truncated to displaylimit of 10.